<html>

<head>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style = "height: 7vh;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/profile/edit">Edit Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 min-vw-80">
    <div class="card p-3 bg-white">
        {% if user.avatar == None %}
            <div class="about-product text-center mt-2"><a href = "/user/profile/{{ user.id }}"><img src="https://gravatar.com/avatar/?s=300&r=g&d=identicon" width="200"></a>
        {% else %}
            <div class="about-product text-center mt-2"><a href = "/user/profile/{{ user.id }}"><img src="/user/avatars/{{ user.avatar }}" width="200"></a>
        {% endif %}
            <div
                <h4>{{ user.username }}</h4>
                <h6 class="mt-0 text-black-50">
                    {{user.thumbnaildescription }}
                </h6>
            </div>
            <div>
                <h6 class="mt-0 text-black-50">
                    {{user.description }}
                </h6>
            </div>
        </div>
        <div class="stats mt-2">
            <div class="d-flex justify-content-between"><span>Language: </span><span>{{ user.language.capitalize() }}</span></div>
            <div class="d-flex justify-content-between"><span>Experience: </span><span>{{ user.years }}</span></div>
        </div>  
        <hr>
        <div class="d-flex justify-content-between total font-weight-bold mt-4"><span>Price Per Hour: </span><span>{{ user.price_per_hour }} $/Hr</span></div>
        <div class = "text-center"><a href="/contact/{{ user.id }}" style = "width: 10vw;" class="btn btn-primary stretched-link">Contact</a></div>
    </div>
</div>

</html>